@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    margin: 0;
    @apply font-body bg-brand-100 text-brand-900;
  }

  #root {
    min-height: 100%;
  }

  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
}
